YANDEX_ACCESS_KEY_ID=your_static_access_key
YANDEX_SECRET_ACCESS_KEY=your_static_secret_key
YANDEX_BUCKET=lol
YANDEX_ENDPOINT=https://storage.yandexcloud.net
YANDEX_REGION=ru-central1
SIGNED_URL_SECONDS=300
ALLOWED_ORIGIN=https://ariilya2412-lang.github.io
PORT=8787
